{% extends "layout.html" %}

{%block title %} Finances : {{Name}} {% endblock %}

{%block body %}

<div id = "Main-finance" align = "center">
    <p> This Month </p>
    <p style="font-size: 25px; padding-top: 50px;"> Expenses </p>
    <div id="expense_table">
      <table class= "table table-hover" id = "ftable"align="center">
              <div id= "tab_data" align="center">
                {% for item, amt in data1 %}
                    <tr">
                        <td> {{item}} </td>
                        <td> {{amt}} </td>
                    </tr>
                {% endfor %}
              </div>
      </table>
    </div>

    <div id="buttons" style="display: inline-block">
      <form>
        <button class="btn btn-primary" onclick="javascript: form.action='http://127.0.0.1:5000/add_expense';"> Add </button>
        <button class="btn btn-success" onclick="javascript: form.action='http://127.0.0.1:5000/remove_expense';"> Remove </button>
      </form>
    </div>

    <p style="font-size: 25px; padding-top: 50px;"> Income </p>
    <div id = "income_table">
      <table class= "table table-hover" id = "ftable" align="center">
              <div id= "tab_data">
                {% for item, amt in data2 %}
                    <tr">
                        <td> {{item}} </td>
                        <td> {{amt}} </td>
                    </tr>
                {% endfor %}
              </div>
      </table>
    </div>

    <div id="buttons" style="display: inline-block">
      <form>
        <button class="btn btn-primary" onclick="javascript: form.action='http://127.0.0.1:5000/add_income';"> Add </button>
        <button class="btn btn-success" onclick="javascript: form.action='http://127.0.0.1:5000/remove_income';"> Remove </button>
      </form>
    </div>

    <form>
      <button class="btn btn-danger" onclick="javascript: form.action='http://127.0.0.1:5000/logout';"> Log Out </button>
    </form>
</div>

{% endblock %}
