<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style.css">
    <script src = "http://127.0.0.1:5000/static/JS/login.js"> </script>
    <title> {% block title %} {% endblock %} </title>
  </head>

  <body>
    <div id = "Titlebar">
      <h1 align = "center" style="color: white; font-size: 40px; padding-top: 15px;"> Finances </h1>
    </div>

    {% block body %} {% endblock %}

    <div id = "footer" align="center" style="position: fixed; height: 50px; background-color: lavender; bottom: 0px; left: 0px; right: 0px; margin-bottom: 0px;">
      <p style="padding-top: 15px;"> Those Who Don't Manage Their Money Will Always Work For Those Who Do </p>
    </div>

  </body>


</html>
